appdirs==1.4.4
autopep8==1.5.4
beautifulsoup4==4.9.3
buildozer==1.2.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
Cython==0.29.21
distlib==0.3.1
docutils==0.16
EbookLib==0.17.1
filelock==3.0.12
idna==2.10
importlib-metadata==3.1.1
Jinja2==2.11.2
Kivy==2.0.0
Kivy-Garden==0.1.4
kivymd==0.104.1
lxml==4.6.2
MarkupSafe==1.1.1
pep517==0.6.0
pexpect==4.8.0
Pillow==8.1.0
ptyprocess==0.6.0
pycodestyle==2.6.0
Pygments==2.8.0
pytoml==0.1.21
requests==2.25.1
sh==1.14.1
six==1.15.0
soupsieve==2.2
toml==0.10.2
urllib3==1.26.3
virtualenv==20.2.2
zipp==3.4.0
